.book {
  font-size: 1.2rem;
  padding: 30px;
  line-height: 1.5;
}

p {
  cursor: pointer;
}

.highlighted {
  background-color: yellow;
}

.speak-button {
  font-size: 2rem;
}

.control-panel {
  position: fixed;
  bottom: 0;
  font-size: 2rem;
  background-color: #fffd;
  padding: 30px 0;
  width: 100%;
}

button {
  margin-left: 50px;
}
